/* CSS Document for all web apps */

body {
  background-color: #fff; color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

#footer {
  text-align: center;
}