<%@ page language="java" pageEncoding="UTF-8"%>
<%@ page contentType="text/html; charset=UTF-8"%>

<h1>$controller$.$action$ view</h1>
<p>This file is located in $app_name$/$view_path$/$view_file$</p>