<%@ page language="java" pageEncoding="UTF-8"%>
<%@ page contentType="text/html; charset=UTF-8"%>

<%@ page import="
	com.scooterframework.web.util.F,
	com.scooterframework.web.util.O,
	com.scooterframework.web.util.W"
%>

<h2>Add $model$</h2>
<%=W.errorMessage("$model$")%>

<%=F.formForOpen("$resource$", "$model$", "data-ajax:true; data-target:#$resource$_list; data-handler:html")%>
$columns: { column |
$if(column.isLongText)$
<p>
  <%=F.label("$column.columnNameLower$")%><br />
  <textarea id="$model$_$column.columnNameLower$" name="$column.columnNameLower$" cols="$column.size$" rows="10"><%=O.hv("$model$.$column.columnNameLower$")%></textarea>
</p>
$else$
<p>
  <%=F.label("$column.columnNameLower$")%><br />
  <input type="text" id="$model$_$column.columnNameLower$" name="$column.columnNameLower$" value="<%=O.hv("$model$.$column.columnNameLower$")%>" size="$column.size$" /> $column.columnFormat$
</p>
$endif$

$if(column.isTimestampColumn)$
    <script type="text/javascript">
        jQuery(function(){jQuery('#$model$_$column.columnNameLower$').datepicker({ dateFormat: 'yy-mm-dd' });});
    </script>
$endif$
}$

  <input id="$model$_submit" name="commit" type="submit" value="Create" />&nbsp;&nbsp;&nbsp;<input type="reset"/>
<%=F.formForClose("$resource$")%>
