<%@ page import="
	com.scooterframework.web.util.O,
	com.scooterframework.web.util.W"
%>

<h2>Show $model$</h2>
<%=W.errorMessage("$model$")%>

$columns: { column |
<p>
  <b>$column.columnHeader$:</b>
  <%=O.hv("$model$.$column.columnNameLower$")%>
</p>}$
