import com.scooterframework.orm.activerecord.ActiveRecord;
import com.scooterframework.orm.activerecord.ActiveRecordUtil;
import com.scooterframework.test.UnitTest;

/**
 * {model_class_name}Test class contains tests for {model_name}.
 *
 */
public class {model_class_name}Test extends UnitTest {
	
	/**
	 * This is a sample test method.
	 * 
	 * Tests record retrieval by findBy method.
	 */
	//public void test_findByLastNameAndFirstName() {
	//	String[] names = {"Stevens", "Henry"};
	//	ActiveRecord vet5 = Vet.findBy("last_name_and_first_name", names);
	//	assertEquals("#5 Stevens's id", "5", ""+vet5.getField("id"));
	//}
}