<%@ page language="java" pageEncoding="UTF-8"%>
<%@ page contentType="text/html; charset=UTF-8"%>

<table align="center" border="1" cellspacing="0" cellpadding="10">
  <tr>
    <td><font size="2"><b>You have logged out of $app_name$. </b></font><br />
      <i>Your session is now closed. To protect your privacy, you should close this browser window <br />
      and all other popped-up browser windows. To re-enter $app_name$, click on Sign In below.</i>
    </td>
  </tr>
  <tr>
    <td align="center"><a href="<%=request.getContextPath()%>/$controller$/login">Sign In</a></td>
  </tr>
</table>