$if(package_name)$
$package_line$
$endif$

import static org.junit.Assert.*;

import org.junit.Test;

import com.scooterframework.common.http.HTTPResponse;
import com.scooterframework.test.FunctionalTestHelper;

/**
 * $controller_class_name$Test class contains tests for $controller_name$.
 */
public class $controller_class_name$Test extends FunctionalTestHelper {
$actions: { action |
	/**
	 * Test $action$() method
	 */
	@Test 
	public void test_$action$() {
		String uri = "/$controller_name$/$action$";
		HTTPResponse response = fireHttpGetRequest(uri);
		assertSuccess(response);
	}
}$
}