import com.scooterframework.common.logging.LogUtil;
import com.scooterframework.web.controller.ActionControl;

/**
 * {controller_class_name} class has methods that are available to all subclass
 * controllers. This is a place to put application-wide action methods and filters.
 */
public class {controller_class_name} extends ActionControl {
    //
    // Add more application-wide methods/filters here.
    //

    /**
     * Declares a <tt>log</tt> instance that are available to all subclasses.
     */
    protected LogUtil log = LogUtil.getLogger(getClass().getName());
}
