import com.scooterframework.admin.Constants;
import com.scooterframework.orm.activerecord.ActiveRecord;
import com.scooterframework.orm.misc.Paginator;
import com.scooterframework.test.FunctionalTest;
import com.scooterframework.web.util.R;

import {full_model_class_name};

/**
 * {controller_class_name}Test class contains tests for {controller_name}.
 */
public class {controller_class_name}Test extends FunctionalTest {

    /**
     * Test <tt>index</tt> method.
     */
    public void test_index() {
    }

    /**
     * Test <tt>show</tt> method.
     */
    public void test_show() {
    }

    /**
     * Test <tt>add</tt> method.
     */
    public void test_add() {
    }

    /**
     * Test <tt>create</tt> method.
     */
    public void test_create() {
    }

    /**
     * Test <tt>edit</tt> method.
     */
    public void test_edit() {
    }

    /**
     * Test <tt>update</tt> method.
     */
    public void test_update() {
    }

    /**
     * Test <tt>delete</tt> method.
     */
    public void test_delete() {
    }
}